
<nav class="navbar navbar-expand-lg navbar-light  st" style="box-shadow: 10px 10px 10px #303234;">
    <a class="navbar-brand" href="/"><img width="100" height="50" src="/img/logo-no-background.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="/users/login">Login</a>
            <a class="nav-item nav-link active" href="/users/register">Register</a>
        </div>
    </div>
</nav>


<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <div class="card card-body text-center" style="box-shadow: 10px 10px 15px black;">
                <h1><img src="/img/logo-no-background.png" width="100" height="50" alt=""></h1>
                <p>
                    Welcome to Resources Sharing Virtual Portal, your go-to destination for academic excellence and streamlined learning! As the most frequently visited website, we are dedicated to enhancing your educational journey by providing a one-stop hub for resource sharing and collaborative learning.</p>
                    <a href="/users/register" class="btn btn-dark btn-block mb-2">Register</a>
                    <a href="/users/login" class="btn btn-info btn-block">Login</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Welcome Message -->
    
    <div class="row welcome-message">
        <div class="col-md-12 mt-3 mb-3 text-center">
            <h2><strong>Welcome to Resources Sharing!</strong> </h2>
        </div>
    </div>
    <!-- Showcase Website Sections using Flexbox -->
<div class="container  d-flex flex-direction-row  ">
    <div class="d-flex justify-content-center">
        <div class="row">
            <!-- section 1 -->
            <div class="col-sm-4 mt-3">
              <div class="card">
              <div class="card-body border border-dark">
                <h3><b>Who are we?</b></h3> 
                <p>A bunch of curious, enthusisatic and motivated college students, who work together to build solutions to problems that we face every day. We build & manage products! &nbsp; 
                     &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;
                       &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
                         &nbsp;  &nbsp;  &nbsp;  &nbsp;    &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  
                    </p>
              </div>
            </div>
            </div>

            <!-- secton 2 -->
            <div class="col-sm-4 mt-3">
                <div class="card">
                <div class="card-body border border-dark">
                   <h3><b>How it is helpful?</b></h3> 
                   <p>Resources Sharing is   a study platform  your academic journey is simplified. Contribute your notes, securely store them, share your knowledge, and engage with a vibrant community. Like and download resources, meet fellow students, and ask questions to enhance your learning experience!</p>
                </div>   
              </div>
              </div>
              <!-- secton 3 -->
              <div class="col-sm-4 mt-3">
                <div class="card">
                <div class="card-body border border-dark">
                    <h3><b>Why should you join?</b></h3> 
                  <p>Join Resources Sharing and unlock a world of collaborative learning. Elevate your college experience with shared knowledge and support. Together, we make studying simpler and more enjoyable! nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;
                    &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
                      &nbsp;  &nbsp;  &nbsp;  &nbsp;    &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;   </p>
                </div>
              </div>
              </div>


            <!-- End Card -->
        </div>
    </div>
</div>
<!--  footer -->
 
