<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources Sharing:Deepak Kumar</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/simplex/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/f855d8cb3a.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-xxx" crossorigin="anonymous" />
    

</head>
<body>
<style>
 body{
        background: #71a9c5;
    } 
    .navbar-nav .nav-link {
        color: #1e2125;
        font-weight: 700;
    }

    .navbar-nav .nav-link:hover {
      background-color: #2786DB; /* Change this to your desired text color on hover */
       /* Change this to your desired font size on hover */
       border-radius: 10%;
       font-weight: 700;
    }
    .st{
        background-color: #f2f0f0;
    }
    .footer {
            background-color: #f2f0f0;
            padding: 10px;
            margin-top: auto;
            text-align: center;
          }
      
          .footer-icon {
            font-size: 28px;
            margin-right: 10px;
          }
      
          .footer-text {
            font-size: 18px;
            /* font-weight: bold; */
          }
          .glow {
    color: rgb(216, 222, 231); /* Initial color */
    animation: glow 2s infinite alternate;
    animation-delay: 1m;
  }

  @keyframes glow {
    
    50% {
      color: #2786DB;
    }
    100% {
      color: black;
    }
  }
</style>

    
        <%- body %>
        <footer class="footer mt-3 ">
            <div class="container">
              <div class="row ">
                <div class="col-md-4">
                  <span class="footer-icon"> <i class="fas fa-envelope" style="color: #3878e5;"></i></span>
                  <span class="footer-text">deepakkumar13204@gmail.com</span>
                </div>
                <div class="col-md-4">
                  <span class="footer-text">Resources Sharing</span>
                </div>
                <div class="col-md-4">
                  <span class="footer-text">  <i class="fas fa-map-marker" style="color: #3878e5;"></i>Renukoot ,Sonebhadra</span>
                </div>
              </div>
            </div>
          </footer>

    <script src="../script.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

        
 
 
</body>

</html>